
body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#519D9E;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#519D9E;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#D8E6E7;
}

input[type="submit"].btn-delete {
    background: red;
}


.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

/*------------------------------*/
/*---- Tables----*/
/*------------------------------*/

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

tbody tr.subtotal {
    background:#D8E6E7;
    color:#333;
    font-weight:bold;
}

/*------------------------------*/
/*---- Cart----*/
/*------------------------------*/

div.cart {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:120px;
    height:120px;
}

.cart-navigate {
    display: flex;
    justify-content: space-between;
    margin: 30px 0
}

.color_sample {
    border: 1px solid;
    display: inline-block;
    width: 20px;
}


span.color-text {
    width: 90px;
    display: inline-block;
}

/*------------------------------*/
/*---- Color-palette----*/
/*------------------------------*/


.color-palette {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color-palette-choice {
    flex: 0 0 500px;
    margin: 10px;
    padding: 10px;
}

.color-palette-sample {
    flex: 0 0 500px;
    height: 100px;
    border: 2px solid;
    margin: 10px;
    padding: 10px;
}

/*------------------------------*/
/*---- Form inputs and buttons----*/
/*------------------------------*/

td a.button, td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
    height:23px;
    vertical-align: middle;
}


td input[type="submit"] {
    /*-webkit-appearance: none;*/
    height:23px;
}


td a.button {
    /*-webkit-appearance: none;*/
    padding: 5px 10px
}


form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

#update_quantity_form input[type=number] {
    width: 40px;

}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}

/*------------------------------*/
/*---- Messages----*/
/*------------------------------*/


.info {
    background-color: #D8E6E7;
    color: #4F86C6;
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid #77AAAD;
    border-bottom: 1px solid #77AAAD;
}

.warning {
    list-style: none;
    background-color: #FBFFB9;
    color:  #F6B352;
    padding: 20px 10px;
    border-top: 1px solid #F6B352;
    border-bottom: 1px solid #F6B352;
}

.error {
    list-style: none;
    background-color: #FADAD8;
    color: #AF4034;
    padding: 20px 10px;
    border-top: 1px solid #AF4034;
    border-bottom: 1px solid #AF4034;
}

.success {
    list-style: none;
    background-color: #cff0da;
    color: #4f953b;
    padding: 20px 10px;
    border-top: 1px solid #4f953b;
    border-bottom: 1px solid #4f953b;
}



ul.messages {
    padding-left: 0;
    padding-right: 0;
}

/*------------------------------*/
/*---- MyAccount ----*/
/*------------------------------*/

.user-addresses {
    display: flex;
    justify-content: flex-start;
}

.user-addresses div{
    margin: 20px;
    padding: 10px;
    border: 1px dashed;
    border-radius: 10px;
}


/*------------------------------*/
/*---- Header ----*/
/*------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#333;
    font-size:22px;
    margin-right:20px;
}

.logo img {
    margin-right: 5px;
}

#header .search input[type="submit"] {
    background:#fff;
    padding:0;
    font-size:18px;
    margin-right:50px;
}

#header .contact {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#333;
    font-size:14px;
}

.info-important {
    font-size:18px;
    margin-left: 20px;
}

/*------------------------------*/
/*---- Subheader ----*/
/*------------------------------*/

#subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:   #519D9E;
    color:#fff;
    margin: 0 100px;
    padding:5px 0;
}

#subheader .user span {
    padding:20px 10px 20px 10px;

}

#subheader .user a {
    text-transform: uppercase;
    transition: 0.4s;
    padding:20px 10px;
    color: #fff;
    font-weight: bold;
}

#subheader .menu a {
    text-transform: uppercase;
    transition: 0.4s;
    padding:20px 10px;
    color: #fff;
    font-weight: bold;
}

#subheader .my_cart a {
    padding:20px 10px;
    color: #fff;
}

#subheader a:hover {
    color: #519D9E;
    background: #fff;
}

#subheader .my_cart {
    padding: 20px 10px;
}

/*------------------------------*/
/*---- Content ----*/
/*------------------------------*/


#content {
    padding:0 100px;
    overflow:hidden;
}

/*------------------------------*/
/*---- Main ----*/
/*------------------------------*/

#main {
    overflow:hidden;
    display: flex;
}

/*------------------------------*/
/*---- Sidebar ----*/
/*------------------------------*/

#sidebar {
    flex: 0 0 200px;
    padding:30px 20px 0 20px;
    background: #D8E6E7;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

/*------------------------------*/
/*---- Product-list ----*/
/*------------------------------*/

#product-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.product-list h1 {
    margin-left: 20px;
    width: 100%;
}

.product-list .item {
    /*width:30%;*/
    flex: 0 0 30%;
    padding:10px 20px 10px 0;
    /*float:left;*/
    text-align:center;
    line-height:1.2;
    /*flex: auto;*/
}

.product-list .item img {
    width:300px;
    height:300px;
    margin-bottom:8px;
}

.dimensions {
    line-height:1;
    font-size: 14px;
}

/*------------------------------*/
/*---- Pagination ----*/
/*------------------------------*/

ul.pagination  {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 30px 0 30px;
    padding: 0;
}

.pagination a {
    display: inline;
    padding: 0 10px;
    border: 1px solid #D8E6E7;
    line-height: 35px;
    border-left-width:0;
    text-decoration:none;
    float: left;
    color: #519D9E;
}

.pagination a:hover {
    background-color: #D8E6E7;
    color:#94999E;
}

.pagination .disabled a,.pagination .disabled a:hover{
    color:#94999E;
    background-color:transparent;
    cursor:default
}

.pagination li:first-child a {
    border-left-width:1px;
    border-radius:5px 0 0 5px
}

.pagination li:last-child a{
    border-radius:0 5px 5px 0
}

/*------------------------------*/
/*---- Product-detail ----*/
/*------------------------------*/

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:450px;
    height:450px;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.product-detail input[type=number] {
    width: 40px;
}

/*------------------------------*/
/*---- Customized Product ----*/
/*------------------------------*/


#customize_product_form form p select, textarea {
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
}

#customize_product_form form p select{
    width: 320px;
}

#customize_product_form form p textarea {
    width: 300px;
}

#customize_product_form form p select, textarea {
    float:left;
    clear:both;
}

span.helptext {
    float:left;
    clear:both;
    font-size: 13px;
    padding: 5px 0 12px;
}

/*------------------------------*/
/*---- Order ----*/
/*------------------------------*/


#checkout {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.delivery {
    flex: 0 0 30%;
    background: #D8E6E7;
    padding: 10px 20px;
    color: #333;
    border: 2px solid #333;
    margin-right: 100px;
}

.order-info {
    flex: 0 0 30%;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #519D9E;
}

#id_delivery_type {
    list-style: none;
}

.order-info h3 {
    color:#519D9E;
}

.order-info ul li {
    margin:20px;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.order-navigate p, p a {
    margin: 50px 0 50px;
}


/*------------------------------*/
/*---- Braintree Payment ----*/
/*------------------------------*/

form div.field {
    font-size:14px;
    color:#666;
    width:320px;
    height:22px;
    margin-bottom:12px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    border-radius:4px;
}