{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
</head>
<body>
<div id="header">
    <div class="logo">
        <a href="/" class="logo">
            <img src="{% static "img/logo1.png" %}" height=60px width=60px alt = 'Logo'>
            <p>SKLEP MEBLOWY</p> </a>
    </div>
    <div class="search">
        <form method="get" action="{% url 'product_search' %}" id="form-search">
            <input type="text" name="search_product" placeholder="Wyszukaj produkt">
            <input type="submit" value="&#128269">
        </form>
    </div>
    <div class="contact">
        <p><span class="info-important"> &#128222 +48 1500 100 900 </span>(9:00-17:00 w dni powszednie)</p>
        <p><span class="info-important"> &#128231 biuro@sklep_meblowy.pl</span></p>
    </div>
    <div class="contact">
        <p><span class="info-important"> &#128666 Zakupy powyżej 150 zł wysyłamy <strong>GRATIS</strong></span>
    </div>
</div>
<div id="subheader">
    <div class="user">
        {% if user.is_authenticated %}
            <span>Witaj {{ user.first_name }}!</span>
            <a href="{% url 'my_account' %}">Moje konto</a>
            <a href="{% url 'logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj</a>
            <a href="{% url 'registration' %}">Załóż konto</a>
        {% endif %}
    </div>

    <div class="my_cart">
        {% if user.is_authenticated %}
            {% if cart_summary|length > 0 %}
                <a href="{% url 'cart_detail' %}">
                    Koszyk &#128722
                    ({{ cart_summary|length }})
                    {{ cart_summary.get_total_price }} zł
                </a>
            {% else %}
                <a href="{% url 'cart_detail' %}">
                Koszyk jest pusty
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer>

</footer>
</body>
</html>