{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
</head>
<body>
<div id="header">
        <a href="/" class='logo'>
            <img src="{% static "img/logo1.png" %}" height=60px width=60px alt = 'Logo'>
        <p>SKLEP MEBLOWY </p></a>
    <ul class="menu">
    </ul>
</div>
<div id="subheader">
    <div class="user">
        {% if user.is_authenticated %}
            Witaj {{ user.first_name }}!
            <a href="{% url 'logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj</a>
        {% endif %}
    </div>
    <div class="search">
        <form method="get" action="{% url 'product_search' %}" id="form-search">
            <input type="text" name="search_product" placeholder="Wyszukaj produkt">
            <input type="submit" value="&#128269">
        </form>
    </div>
    <div class="my_cart">
        {% if cart_summary %}
            {% if cart_summary|length > 0 %}
                Koszyk:
                {{ cart_summary|length }} produkt{{ cart_summary|length|pluralize:'y' }}
                {{ cart_summary.get_total_price }} zł
            {% else %}
                Koszyk jest pusty
            {% endif %}
        {% endif %}
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer>

</footer>
</body>
</html>