{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
<div id="'header">
    <span class='logo'>SKLEP MEBLOWY</span> {#    LOGO#}
    <ul class="menu">
        <li>Home</li>
    </ul>
    <span class="user">
        {% if user.is_authenticated %}
            Witaj, {{ user.first_name }}!
            <a href="{% url 'logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer>

</footer>
</body>
</html>