{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Produkty{% endif %}
{% endblock %}

{% block content %}
    <div id="main">
        <div id="sidebar">
            <h2>Kategorie</h2>
            <ul>
                <li><a href="{% url 'product_list' %}">Wszystkie</a></li>
                {% for cat in categories %}
                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="product-list" class="product-list">
            {% if category %}
                <h1>{{ category }}</h1>
            {% else %}
                <h1>Produkty</h1>
            {% endif %}
            {% for product in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %} {{ product.image.url }} {% else %}
                    {% static "img/no_image.png" %} {% endif %}" alt="Zdjęcie produktu"></a>
                    <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
                    <p>Cena: {{ product.price }} zł</p>
                    <p>Szerokość: {{ product.width }} cm</p>
                    <p>Głębokość: {{ product.depth }} cm</p>
                    <p>Wysokość: {{ product.height }} cm</p>
                </div>
            {% endfor %}

            {% if products.has_other_pages %}
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><
                            poprzednia</a></li>
                    {% endif %}

                    {% for page in products.paginator.page_range %}
                        {% if products.number == page %}
                            <li class="page-item disabled"><a class="page-link" href="?page={{ page }}"> {{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}"> {{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">>
                            następna</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

        </div>
    </div>
{% endblock %}