{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Kasa
{% endblock %}
{% block content %}
    <h1>Kasa</h1>
    <div id="checkout">
        <div class="delivery">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    {{ form_delivery_type }}
                </div>
                <div id="delivery_address">
                    {{ form_delivery_address.as_p }}
                </div>
                <p><input type="submit" value="Złóż zamówienie"></p>
            </form>
        </div>

        <div class="order-info">
            <h3>Zamówienie</h3>
            <ul>
                {% for item in items %}
                    <li>
                        {{ item.quantity }}x {{ item.product.name }},
                        kolor: {{ item.get_color_display }}
                        <span>{{ item.total_price }}zł</span>
                    </li>
                {% endfor %}
                    {% if cart.coupon %}
                        <li>Kupon rabatowy "{{ cart.coupon }}" ({{ cart.coupon.discount }}% zniżki)
                        <span>-{{ cart.get_discount|floatformat:2 }}zł</span>
                        </li>
                    {% endif %}
            </ul>
            <p>Wartość całkowita: {{ cart.get_total_price_with_discount|floatformat:2  }} zł</p>
        </div>
    </div>
    <div class="order-navigate">
        <p><a class="button light" href="{% url 'product_list' %}">Powrót na stronę główną</a></p>
        <p><a class="button light" href="{% url 'cart_detail' %}">Powrót do koszyka</a></p>
    </div>
    <script src="{% static 'js/delivery_form_app.js' %}"></script>

{% endblock %}